body{
        height: 100vh;
        background-size: cover;
        background-color: #1d1d1d;
        color: #06fdd8;
}

input, textarea{
        color: #06fdd8 !important ;
}

.card{
        opacity: 0;
}

.col, .col-12, .col-md-6{
	text-align:  center;
        margin-bottom: 3%;
}

.portfolio-image{
        transition: transform .2s;
}

.portfolio-image:hover{
        transform:  scale(1.05);
}

.input-container{
        background-color: ;
}

.teal-background{
        background-color: #1d1d1d  ;
}

.wrapper{
        display: inline-block;
}

/* Underline active navbar element */
.navbar-dark .navbar-nav .active{
	border-bottom: 3px solid #06fdd8;
        color: #06fdd8;
}

.nav-text{
         color: #06fdd8
}

.link-button-styling{
        background-color: #f4f2f2;
        border: 2px solid #06fdd8;
        border-radius: 50%;
        width: 40px;
        height: 40px;
}
.link-button-styling:hover{
        background-color:#06fdd8 ;
        color: #1d1d1d ;
}

.link-styling{
        text-decoration: none;
        color: #1d1d1d;
        
}

.link-styling-teal{
        text-decoration: none;
        color: #06fdd8 ;
}

.link-styling-teal:hover{
        color: #06fdd8;
}

#landingVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#landing-section{
        position: relative;
}

#contact-form-button{
        background-color:#06fdd8 ;
        color: #414141;
}

#contact-form-button:hover{
        background-color: #1d1d1d;
        color:  #06fdd8;
        border: 2px solid #06fdd8;
}

#landing-text h1{
        font-family:  Helvetica;
        font-size: 59px;
        letter-spacing: 0.3em;
        color: #f4f2f2;
}

#landing-text h4{
        color: #f4f2f2;
}

#landing-text button{
        font-family: Helvetica;
        background-color: #f4f2f2;
}

#landing-text button:hover{
        background-color: transparent;
        color:#f4f2f2;
        border: 2px solid #f4f2f2 ;
}

